# Python cache files
__pycache__/
*.py[cod]
*.pyo

# VSCode and IDE configs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs and compiled files
*.log
*.sqlite3
*.db

# Environment/config files
.env
*.env

# Ignore virtual environments
venv/
env/
.tfenv/
tfenv/
.venv/


node_modules/
dist/



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercelsdf

# typescript
*.tsbuildinfo
next-env.d.ts

best_multiclass.keras
best_binary.keras