@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #1cffd9;
  --color-secondary: #001b37;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-hero {
  background-image: url('../public/assets/home_clinic3_slider_bg.jpg');
}

.bg-work {
  background-image: url('../public/assets/home_clinic3_pic10.jpg');
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

.bg-cta {
  background-image: url('../public/assets/home_clinic3_pic11.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-vid1 {
  background-image: url('../public/assets/home_clinic3_pic12.jpg');
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.bg-vid2 {
  background-image: url('../public/assets/home_clinic3_pic13.jpg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.hover-show {
  opacity: 0;
}

.bg-vid1 > div:hover .hover-hide,
.bg-vid2 > div:hover .hover-hide {
  opacity: 0;
}
.bg-vid1 > div:hover .hover-show,
.bg-vid2 > div:hover .hover-show {
  opacity: 1;
}

.h2 {
  @apply text-white font-bold text-7xl mt-20
}

.pages{
  @apply bg-[url(/assets/home_clinic3_pic15.png)] bg-cover bg-center bg-no-repeat py-24 bg-secondary
}